# Bygge-filer og binære filer (Skal ignoreres)
bin/
dist/
backend/dist/

# Node afhængigheder og midlertidig cache (Skal ignoreres)
ui/node_modules/
ui/.svelte-kit/
.svelte-kit/

# Det færdige SvelteKit-build (Skal ignoreres, da GoReleaser danner det under buildet)
ui/build/