[Unit]
Description=MediaPlayer backend
After=network-online.target mediaplayer-mpv.service
Wants=network-online.target
Requires=mediaplayer-mpv.service

[Service]
Type=simple
User=pi
Group=pi
Environment=MEDIAPLAYER_CONFIG=/etc/mediaplayer/default.yaml
ExecStart=/usr/bin/mediaplayer
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
